<div class="analytics-container">

  <header class="page-header">
    <h1 class="page-title">{{ activeConfig().title }}</h1>
  </header>

  <mat-tab-group mat-stretch-tabs="true" animationDuration="0ms" (selectedTabChange)="onTabChange($event)">

    @for (tf of timeframes; track tf) {
    <mat-tab [label]="tf">

      <div class="chart-wrapper">

        @if (isLoading()) {
        <div class="loading-state">
          <app-loading-spinner></app-loading-spinner>
        </div>
        }

        @if (!isLoading()) {
        <app-audit-table [data]="auditDataCache()[tf]" [timeframeLabel]="tf">
        </app-audit-table>
        }

      </div>

    </mat-tab>
    }

  </mat-tab-group>

</div>